@*Group ANNOUNCEMENTS*@
<fieldset class="AllGroup">
    <legend><i class="fa fa-unlock-alt" id="IconLogin"></i>ANNOUNCEMENTS</legend>
    <p class="ThePAnnoun">
        <i class="fa fa-caret-right"></i><a href="#">Government is allocating another RM 30Bil for development expenditure under the Ninth...</a><br />
        <i class="fa fa-caret-right"></i><a href="#">Government gives incentive to the KDRM Officer on Customs Day Celebration.</a>
    </p>
</fieldset>
@*Group ONLINE CALCULATOR*@
<fieldset class="AllGroup">
    <legend><i class="fa fa-unlock-alt" id="IconLogin"></i>ONLINE CALCULATOR</legend>
    <i class="fa fa-caret-right"></i><a href="#">Calculate your GST</a><br />
    <i class="fa fa-caret-right"></i><a href="#">Transfer date calculator</a><br />
    <i class="fa fa-caret-right"></i><a href="#">GST adjustment calculation sheet</a>
</fieldset>
@*Group TRAINING CALENDAR*@
<fieldset class="AllGroup">
    <legend><i class="fa fa-unlock-alt" id="IconLogin"></i>TRAINING CALENDAR</legend>
    <a href="#">7Feburuary 2008</a><br />
    Kangar, 9.00 am <br />
    <a href="#">10 November 2008</a><br />
    Hohor Bharu, 9.00 am<br />
</fieldset>
@*Group e-Poll*@
<fieldset class="AllGroup">
    <legend><i class="fa fa-unlock-alt" id="IconLogin"></i>e-Poll</legend>
    <div>How do you rate this portal? (Choose one answer)</div>
    <input class="Radio1" type="radio"name="e-poll" />Very Good <br />
    <input class="Radio1" type="radio" name="e-poll" />Good <br />
    <input class="Radio1" type="radio" name="e-poll" />Poor <br />
    <input type="submit" value="Submit" /><br />
</fieldset>
<div class="TheAGovement"><a href="#">myGovement</a></div>
<div class="HinhGovement"><a href="#"><img src="~/Content/CSSTuChinh/img/hinhlogogov.jpg" /></a></div>
