@{
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}
<link href="~/Content/CSSTuChinh/QuanLySubcribe.css" rel="stylesheet" />
<div class="thea"><a href="/Home/Index">Home</a>><a href="/ENew/HomeEnew">e-News</a>><a href="/Admin/QuanLyEmailSubcribe">Monitor e-News Subcriptions</a></div>
<hr />
<div style="float:left;margin-left:30px;"><a href="/Admin/PublicUserSubscribe">Public User Subscriber's List</a></div><br />
<div style="float:left;margin-left:30px;"><a href="/Admin/E_ServiceUserSubscribe">e-Services User Subscriber's List</a></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
