
@{
    ViewBag.Title = "QuanLyForAdmin";
    Layout = "~/Views/Layout/LoginLayout.cshtml";
}
<link href="~/Content/CSSTuChinh/QuanLyForAdmin.css" rel="stylesheet" />
<h2 class="TittleQuanLy">QuanLyForAdmin</h2>
<div class="col-lg-4">
    <div><a href="/Admin/QuanLyEguild">Quan ly E-guild</a></div>
    <div><a href="/Admin/QuanLyFAQ">Quan ly FAQ</a></div>
    <div><a href="/Admin/QuanLyEnew">Quan ly ENew</a></div>
    <br />
    <a href="/Admin/Logout"><input style="color:blue" type="button"value="Logout"/></a>
</div>