.DivAllChange {
    border: solid 2px rgba(0,0,0,.1);
}

.divTitleChange {
    color: #689CA6;
    font-size: 18px;
    font-weight: 600;
    border-bottom: solid 2px rgba(0,0,0,.1);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.divPleaseChange {
    margin: 10px;
}

.divOldPassChange {
    margin-top: 25px;
    margin-left: 85px;
    margin-bottom: 8px;
}

.divNewPassChange {
    margin-left: 78px;
    margin-bottom: 8px;
}

.divReNewPassChange {
    margin-left: 14px;
    margin-bottom: 8px;
}

.Valid8 {
    color: red;
}

.divRemindChange {
    color: red;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.divSubmitChange {
    height: 35px;
    padding-left: 10px;
    padding-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #E3E3E3;
}

    .divSubmitChange input {
        margin-right: 8px;
        width: 70px;
        height: 28px;
        background-color: #014F8F;
        color: #EFFB5B;
        font-weight: 600;
        font-size: 15px;
    }

.divThongBao {
    color: red;
    margin-left: 15px;
}

.welcome {
    margin-left: -240px;
}

.DivCenter {
    background-color: #FFFFFF;
}

.ACall {
    display: none;
}

.ACore {
    display: none;
}
