
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    @Styles.Render("~/Content/css")
}

<div style="margin-left:520px;margin-top:30px;">
    @Html.Partial("~/Views/MenuLeftAndRight/MenuRightPartial.cshtml")
</div>



